{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Enviado</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

    <div class="container">
        <div class="card text-center">
            <h2>¡Correo Enviado!</h2>
            <p>Hemos enviado un enlace a tu correo para restablecer tu contraseña.</p>
            <a href="{% url 'login' %}" class="btn btn-primary w-100">Volver al login</a>
        </div>
    </div>

</body>
</html>