{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Crear orden de alistamiento{% endblock %}

{% block extra %}
{% endblock %}


{% block content %}

<div class="container my-5">
    <div class="card shadow-lg border-0">
        
        <!-- Encabezado -->
        <div class="card-header bg-dark text-white text-center">
            <h2 class="mb-0">Creación de Órdenes</h2>
        </div>

        <div class="card-body">
            <div class="row align-items-center">
                
                <!-- Columna izquierda: Carga masiva -->
                <div class="col-md-5 text-center border-end">
                    <p class="fw-bold mb-3">Carga masiva de órdenes</p>
                    <p class="small text-muted">Si tienes un archivo con múltiples órdenes, puedes cargarlo aquí.</p>
                    <a href="{% url 'cargar_orden' %}" class="btn btn-outline-secondary btn-lg">
                        <i class="fas fa-upload"></i> Cargar Orden
                    </a>
                </div>

                <!-- Columna derecha: Formulario manual -->
                <div class="col-md-7">
                    <p class="fw-bold mb-3 text-center">Creación manual de orden</p>
                    <p class="small text-muted text-center">
                        Complete el siguiente formulario para registrar una nueva orden de alistamiento.
                    </p>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.vehiculo.id_for_label }}" class="form-label">Vehículo:</label>
                            {{ form.vehiculo|add_class:"form-select" }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.user.id_for_label }}" class="form-label">Técnico:</label>
                            {{ form.user|add_class:"form-select" }}
                        </div>
                        
                        <!-- Campos del formulario -->
                        
                        <!-- Botón guardar -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-success px-4 btn-lg">
                                <i class="fas fa-save"></i> Guardar Registro
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <a href="{% url 'mantenimiento' %}" class="btn btn-primary text-white ms-2 mt-2">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>
</div>





{% endblock %}