/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(135deg, #8FB6BF, #0A3140, #111826,  #224F59, #4D818C ); Fondo degradado */
    background: linear-gradient(135deg, #012E40, #9FB6BF, #025E73, #037F8C, #021F59 ); /*Fondo degradado*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.login-container {
    background: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Logo de la empresa */
.logo img {
    width: 180px;
    margin-bottom: 10px;
}

/* Título del formulario */
h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Grupos de entrada */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #6a11cb;
}

/* Botón de login con degradado */
.gradient-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #0D0D0D, #274B59, #AAADBF, #6D758C); /* Degradado */
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.gradient-btn:hover {
    background: linear-gradient(135deg, #274B59, #F2F0F0, #0D0D0D); /* Degradado invertido */
}

/* Enlace para recuperar contraseña */
.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: #6a11cb;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #2575fc;
}