 {% extends 'base.html' %}
{% load static %}

{% block title %}Radicacion{% endblock %}

{% block content %}

<section class="text-center mt-5" aria-labelledby="radicacion-heading">
    <div class="card-title bg-white text-dark text-center">
        <a href="{% url 'radicados_administrativos' %}" class="btn-volver" title="Volver">
            <h2 id="radicacion-heading">Radicación</h2>
        </a>
    </div>
    
    <div class="row row-cols-1 row-cols-md-3 g-3 row justify-content-center">
        <div class="col">
            <div class="card">
                <a href="{% url 'crear_radicados_recibidos' %}" class="option-btn" aria-label="Radicacion">
                    <i class="fas fa-barcode fa-5x" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Crear Radicado</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="{% url 'lista_radicados_recibidos' %}" class="option-btn" aria-label="Radicacion">
                    <i class="fas fa-envelope fa-5x" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Radicados recibidos</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


{% endblock %}